.nav__link li {
  transition: all 0.2s linear;
  color: #000 !important;
}
.nav__link li:hover {
  color: #0a84ff !important;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer__nav__list li {
  transition: color 0.2s linear;
  cursor: pointer;
}
.footer__nav__list li:not(:first-child):hover {
  color: #0a84ff;
}
.footer__nav__list li:first-child {
  margin-bottom: 20px;
}
.footer__nav__list li:not(:first-child) {
  font-size: 14px;
}
.hover__item ul {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}
.hover__item ul li {
  transition: color 0.2s linear;
  color: #23282ddc !important;
  font-weight: 400;
}
.hover__item ul li:hover {
  color: #000 !important;
}
.hover__item:hover ul {
  /* display: f; */
  visibility: visible;
  transition: opacity 0.2s ease;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.2s ease;
}
.mobile__nav li:first-child {
  border: 1px solid rgb(234, 234, 234);
}
.mobile__nav li {
  border: 1px solid rgb(234, 234, 234);
  border-top: 0;
  padding: 10px 30px 10px 30px;
}
.hero__desc a {
  color: #0a84ff;
  font-weight: 500;
}
.what__we_do a {
  color: #0a84ff;
  font-weight: 500;
}
.counter__gradiant {
  width: max-content;
}
.counter__gradiant h3 {
  background: linear-gradient(to right, #00a3fc, #0073b2);
  background-clip: text;
  width: max-content;
  color: transparent;
  font-weight: 900;
  font-size: 50px;
  line-height: 0.9;
}
.counter__gradiant p {
  width: max-content;
  font-size: 14px;
  color: #0093e3;
  margin-left: 3px;
}
.about__us__list div span {
  font-size: 30px;
  color: #0174b5;
}
.about__us__list div p {
  font-weight: 300;
  color: #0178bc;
  margin-top: 15px;
}
.project__showcase a p {
  color: #0073b2;
  font-weight: 500;
  margin-top: 10px;
}
.sponsore__list div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsore__list div img {
  width: 90px;
}

@media screen and (max-width: 1536px) {
  .counter__gradiant h3 {
    font-size: 45px;
  }
  .counter__gradiant p {
    font-size: 13px;
  }
  .about__us__list div span {
    font-size: 25px;
  }
  .about__us__list div p {
    font-size: 14px;
  }
  .sponsore__list div img {
    width: 70px;
  }
  .about__us__list div span {
    width: max-content;
    margin: 0 auto;
    display: block;
  }
  .project__showcase a p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .counter__gradiant p {
    font-size: 12px;
  }
  .counter__gradiant h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 640px) {
  .counter__gradiant p {
    font-size: 11px;
  }
  .counter__gradiant h3 {
    font-size: 30px;
  }
}
